<h1>Place List</h1>
<h3>Add a new place:</h3>
<form action='/places' method="post">
  <label for="new-place">Place Description</label>
  <input type="text" name="new-place" id="new-place">
  <button type="submit">Add place</button>
</form>
