<h1>Place List</h1>
<h3>Add a new place:</h3>
<form action='/places' method="post">
  <label for="new-place">City</label>
  <input type="text" name="new-place" id="new-place">

  <label for="new-duration">How long were you there?</label>
  <input type="text" name="new-duration" id="new-duration">

  <label for="new-picture">Enter a picture url</label>
  <input type="text" name="new-picture" id="new-picture">
  <button type="submit">Add place</button>
</form>
